[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EnsCat"]
	path = EnsCat
	url = https://github.com/jlp2duke/enscat
	shallow = true
	registered = true
